<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--use this appender when you want to send logs directly to ElasticSearch - require log4net.ElasticSearch package-->
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Server=elasticsearch;Index=log;Port=9200;" />
    <bufferSize value="0" />
  </appender>
  <!--use this appender when you want to send logs to ElasticSearch via Logstash pipeline-->
  <appender name="LogstashUdpAppender" type="log4net.Appender.UdpAppender">
    <param name="RemoteAddress" value="logstash" />
    <param name="RemotePort" value="5044" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%date [%thread] %-5level - %property{log4net:HostName} - ApplicationName - %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogstashUdpAppender" />
  </root>
</log4net>